<div class="chart-container">
  <h2>Score: <%= @score.round(2) %> / <%= @max_score %></h2>
</div>

<div id="js-chart-container" class="chart-container"></div>

<script type="text/javascript">
  var turbulenceData = <%= @turbulence_data %>;
</script>
