*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
test/samples/report.json
test/samples/lint.txt
test/samples/overview.html   
test/samples/code_index.html
test/samples/smells_index.html
test/samples/test
test/samples/assets
tmp
.idea/
.ruby-gemset
.ruby-version
.DS_Store
.byebug_history
