sudo: false
language: ruby

rvm:
  - 2.0
  - 2.1
  - 2.2
  - jruby
  - rbx-2
matrix:
  allow_failures:
    - rvm: rbx-2
    - rvm: jruby
  fast_finish: true

before_install: "gem update bundler"
script: "bundle exec rake"
