<div class="file-header group">
  <span class="rating-<%= @analysed_file.rating.to_s.downcase %> circled-rating circle "><%= @analysed_file.rating %></span>
  <h2 class="file-name"><%= @analysed_file.name %></h2>

  <% if @analysed_file.has_smells? %>
    <button id="js-toggle-smells" class="smells-toggle-button button">Toggle Smells</button>
  <% end %>
</div>

<code class="prettyprint linenums lang-ruby file-code js-file-code"><%= yield %></code>
