<table class="code-table">
<thead>
  <tr>
    <th>Name</th>
  </tr>
</thead>
<tbody>
  <% @source_pathnames.each do |pathname| %>
    <tr>
      <td><a href="<%= file_path(pathname) %>"><%= analysed_file_name(pathname) %></a></td>
    </tr>
  <% end %>
</tbody>
</table>
