<table id="js-code-table" class="analysis-index-table sortable-table">
<thead>
  <tr>
    <th class="first-cell">Smell</th>
    <th>Locations</th>
  </tr>
</thead>
<tbody>
  <% @smells.each do |smell| %>
    <tr>
      <td class="first-cell"><%= smell.type %></td>
      <td>
        <% smell.locations.each do |location| %>
          <a href="<%= smell_location_path(location) %>"><%= location.file_name %></a>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
