<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>RubyCritic</title>
        <link href="<%= stylesheet_path %>" media="screen, projection, print" rel="stylesheet" type="text/css">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>RubyCritic</h1>

        <%= yield %>
    </body>
</html>
