name: Continuous Integration

on:
  - pull_request
  - push

jobs:
  pre_job:
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          # All of these options are optional, so you can remove them if you are happy with the defaults
          concurrent_skipping: 'same_content'
          skip_after_successful_duplicate: 'true'
          paths_ignore: '["**/README.md", "**/docs/**", "**/CHANGELOG.md"]'
          do_not_skip: '["pull_request", "workflow_dispatch", "schedule"]'

  Features:
    needs: pre_job # skip duplicates
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - '3.2'
          - '3.3'
          - '3.4'
          - '4.0'
        experimental: [false]
        include:
          - ruby-version: 'ruby-head'
            experimental: true
          - ruby-version: 'jruby-10.0'
            experimental: true
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
          cache-version: 1
        continue-on-error: ${{ matrix.experimental }}
      - name: Run Cucumber
        run: bundle exec cucumber features --format progress --color
        continue-on-error: ${{ matrix.experimental }}

  Rubocop:
    needs: pre_job # skip duplicates
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - '3.2'
          - '3.3'
          - '3.4'
          - '4.0'
        experimental: [false]
        include:
          - ruby-version: 'ruby-head'
            experimental: true
          - ruby-version: 'jruby-10.0'
            experimental: true
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
          cache-version: 1
        continue-on-error: ${{ matrix.experimental }}
      - name: Run Rubocop
        run: bundle exec rubocop
        continue-on-error: ${{ matrix.experimental }}

  Reek:
    needs: pre_job # skip duplicates
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - '3.2'
          - '3.3'
          - '3.4'
          - '4.0'
        experimental: [false]
        include:
          - ruby-version: 'ruby-head'
            experimental: true
          - ruby-version: 'jruby-10.0'
            experimental: true
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
          cache-version: 1
        continue-on-error: ${{ matrix.experimental }}
      - name: Run Reek
        run: bundle exec rake reek
        continue-on-error: ${{ matrix.experimental }}

  Minitest:
    needs: pre_job # skip duplicates
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - '3.2'
          - '3.3'
          - '3.4'
          - '4.0'
        experimental: [false]
        include:
          - ruby-version: 'ruby-head'
            experimental: true
          - ruby-version: 'jruby-10.0'
            experimental: true
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
          cache-version: 1
        continue-on-error: ${{ matrix.experimental }}
      - name: Run Unit tests
        run: bundle exec rake test
        continue-on-error: ${{ matrix.experimental }}

  MarkdownLint:
    needs: pre_job # skip duplicates
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true
          cache-version: 1
        continue-on-error: ${{ matrix.experimental }}
      - name: Run markdownlint
        run: bundle exec mdl .
        continue-on-error: ${{ matrix.experimental }}
